.menu{
    display: flex;
    justify-content: space-between;
    background-color: #67CF32;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ff8962;
}
body{
    margin:0px;
    background-color:#f7f2f2;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000040;
    border-radius: 50px;
}


.origami{
    position:relative;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin:25px;
    width:310px;
    font-family: fantasy;
    transform: scale(1.3);
}
.origami p{
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-40%,-40%);
  opacity:0;
}
.origami:hover p{
  opacity:1;
  font-size:30px;
}

.origami:hover img{
  opacity:0.3;
}


a:link{
    color: blue;
}

a:visited{
    color:purple;
}
